{% extends 'pattern.html' %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h2 class="mb-4 text-center">Вход</h2>

            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="mb-3">
                    <label for="id_username" class="form-label">Имя пользователя</label>
                    <input type="text" name="username" class="form-control" id="id_username" required>
                </div>

                <div class="mb-3">
                    <label for="id_password" class="form-label">Пароль</label>
                    <input type="password" name="password" class="form-control" id="id_password" required>
                </div>

                <button type="submit" class="btn btn-primary w-100">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
