<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div style="color: red;">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <p>
            <label for="{{ form.username.id_for_label }}">Имя пользователя:</label><br>
            {{ form.username }}
            {% if form.username.errors %}
                <span style="color:red;">{{ form.username.errors.0 }}</span>
            {% endif %}
        </p>

        <p>
            <label for="{{ form.password1.id_for_label }}">Пароль:</label><br>
            {{ form.password1 }}
            {% if form.password1.errors %}
                <span style="color:red;">{{ form.password1.errors.0 }}</span>
            {% endif %}
        </p>

        <p>
            <label for="{{ form.password2.id_for_label }}">Подтвердите пароль:</label><br>
            {{ form.password2 }}
            {% if form.password2.errors %}
            <br><br>
                <span style="color:red;">{{ form.password2.errors.0 }}</span>
            {% endif %}
        </p>

        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>
