{% extends 'pattern.html' %}
{% block content %}
<h1>Редактировать столики</h1>

<dl>
    {% for table in tables %}
        <dd style="font-size: 24px;margin-bottom: 24px;">
            <p style="margin: 0;">Столик №{{ table.id }} — {{ table.seats }} мест</p>
            <a href="{% url 'edit_table' table.id %}" class="btn btn-outline-primary">Редактировать</a>
            <a href="{% url 'delete_table' table.id %}" class="btn btn-outline-danger" onclick="return confirm('Удалить столик?')">Удалить</a>
        </dd>
    {% endfor %}
</dl>

<a href="{% url 'add_table' %}" class="btn btn-outline-custom">Добавить столик</a>
{% endblock %}
